# ==========================================
# Java / Maven 忽略規則
# ==========================================
target/
*.jar
*.war
*.ear
*.class
*.log

# ==========================================
# IDE / 編輯器 忽略規則
# ==========================================
# VSCode
.vscode/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/

# ==========================================
# 作業系統 忽略規則
# ==========================================
.DS_Store
Thumbs.db